
@font-face {
    font-family:'Roboto-Bold';
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    font-family:'Vina_Sans';
    --clr-primary: #4a2c48;
    --clr-body: #d2aed2;
    --clr-bg: #ddd;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}
body{
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto-Bold';
    color: var(--clr-primary);
    background-color: var(--clr-bg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 10px solid var(--clr-primary); */
    align-items: center;
}

.Boxs {
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    min-height: 6rem;
    width: 10rem;
    height: 10rem;
    /* background-color: var(--clr-body); */
    padding: 2%;
    font-weight: 700;
    border: 6px solid var(--clr-primary);
    border-radius: 10px;
}

.Box-2 {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.Box-4, .Box-5{
    flex: 1;
}
