
@font-face {
    font-family:'Roboto-Bold';
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
}

:root {
    font-family:'Vina_Sans';
    --clr-font: #b48291;
    --clr-primary: #afaab9;
    --clr-body: #b9cfd4;
    --clr-bg: #cee0dc;
    --dark-font:#a5243d;
}

*,
*::before,
*::after {
    box-sizing: border-box;

}
body{
    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto-Bold';
    background-color: var(--clr-bg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}

.contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 10px solid var(--clr-primary); */
    align-items: center;
}

.Boxs {
    color: var(--clr-font);
    display: flex;
    flex-flow: row wrap;
    overflow:scroll;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    min-height: 6rem;
    width: 10rem;
    height: 10rem;
    /* background-color: var(--clr-body); */
    padding: 2%;
    font-weight: 700;
    border: 4px solid var(--clr-primary);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.Boxs:hover{
    color: var(--dark-font);
    border-color:var(--clr-font);
    background-color: var(--clr-body);  
}
.Boxs:hover::after{
    content:"";
    height: 2px;
    background-color: var(--clr-font);
    width: 100%
}

.Box-2, .Box-3 {
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: row wrap;
}

.Box-4, .Box-5, .Box-6{
    flex: 1;
}
